main {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #555;
}

input.quantidade {
    width: 60px;
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.remover-produto {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.total-final {
    text-align: right;
    margin-top: 30px;
}

.total-final h3 {
    color: #333;
    font-size: 20px;
}

#total-final {
    color: #e74c3c;
    font-size: 24px;
    font-weight: bold;
}

button.remover-produto:hover {
    background-color: #c0392b;
}

.finalizar-compra {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espaço acima do botão */
    transition: background-color 0.3s;
    width: 100%; /* Botão ocupa toda a largura */
}

.finalizar-compra:hover {
    background-color: #218838;
}
